.meal-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.meal-form-wrapper h2 {
    text-align: center;
}

.meal-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.meal-form-input {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.meal-form-input-modal {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.meal-form-input input {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.meal-form-input-modal input {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.meal-form-input textarea {
    height: 4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.meal-form-input-modal textarea {
    height: 4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.meal-form-btn {
    color: white;
    background-color: #588b76;
    border-radius: 0.2rem;
    width: 5rem;
    border: none;
    height: 2rem;
}

.meal-form-btn:hover {
    cursor: pointer;
    background-color: #18392b;
}


.meal-form-error {
    margin-top: 0.5rem;
    color: rgb(255, 130, 130);
}
