.food-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form.form-form-container-modal {
    display: flex;
    flex-direction: column;
}

.food-form-wrapper-modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    justify-content: center;
}

.food-form-wrapper h2 {
    text-align: center;
}

.food-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.food-form.container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 10rem;
}

.food-form-input {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.food-form-input input {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.food-form-input-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.food-form-input-modal input {
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid #588b76;
}

.food-form-btn {
    color: white;
    background-color: #588b76;
    border-radius: 0.2rem;
    width: 5rem;
    border: none;
    height: 2rem;
}

.food-form-btn:hover {
    cursor: pointer;
    background-color: #18392b;
}

.food-form-btn-modal {
    color: white;
    background-color: #588b76;
    border-radius: 0.2rem;
    width: 5rem;
    border: none;
    height: 2rem;
    margin-top: 1rem;
    align-self: center;
}

.food-form-btn-modal:hover {
    cursor: pointer;
    background-color: #18392b;
}

.food-form-error {
    margin-top: 0.5rem;
    color: rgb(255, 130, 130);
}
