.delete-food-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
}

.delete-food-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.delete-food-btn {
    color: white;
    background-color: #588b76;
    border-radius: 0.2rem;
    width: 5rem;
    border: none;
    height: 2rem;
}

.delete-food-btn-del {
    color: white;
    background-color: rgb(255, 130, 130);
    border-radius: 0.2rem;
    width: 5rem;
    border: none;
    height: 2rem;
}

.delete-food-btn:hover {
    cursor: pointer;
    border: 1px solid #588b76;
    background-color: white;
    color: #588b76;
}

.delete-food-btn-del:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 130, 130);
    background-color: white;
    color: rgb(255, 130, 130);
}
