.profile-dropdown {
  position: absolute;
  top: 4rem;
  right: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  gap: 0.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #18392b;
  color: black;
  padding: 1rem;
}

.nav-left {
  color: #d0ded8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 0.5rem;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.nav-modal-menu-item:hover {
  cursor: pointer;
}

.profile-btn {
  font-size: 40px;
  color: #d0ded8;
}

.profile-btn:hover {
  cursor: pointer;
}

.logout:hover {
  cursor: pointer;
  color: #18392b;
  text-decoration: underline;
}
